/* Global */

* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

main {
    background-image: url('images/nyc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

img {
    display: block;
    object-fit: contain;
}

form {
    text-align: left;
}

.card-body {
    padding: 50px;
}

.transparent-section {
    color: #fff;
    padding: 75px;
    background-color: rgba(0, 0, 0, 0.70);
    opacity: 0.85;
}

#footer-section input,
.white-section {
    background-color: #f2f2f2;
}

img,
#hero-section,
#background-video,
.content,
.container {
    width: 100%;
}

#footer-section,
.container {
    padding: 100px 0;
    text-align: center;
}


/* Hero-Section */

#background-video {
    object-fit: cover;
    height: 100vh;
    z-index: 0;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.content {
    z-index: 2;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Section 2 */

.section2-content {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin: 0 50px;
    padding: 0 80px;
}


/* Section 3 */


/* Footer Section */

#footer-section .container {
    background-color: #fff;
    padding: 100px;
}